.notes-form {
  position: absolute;
  bottom: 15px;
  width: calc(100% - 30px);
}

.notes-form input {
  width: calc(100% - 133px);
  margin-right: 15px;
}

.notes-form button {
  width: 100px;
}

.notes-list {
  max-height: calc(100vh - 130px);
  overflow: auto;
  margin-top: 15px;
}
