.chat-form {
  position: absolute;
  bottom: 15px;
  width: calc(100% - 30px);
}

.chat-form input {
  width: calc(100% - 133px);
  margin-right: 15px;
}

.chat-form button {
  width: 100px;
}

.messages-list {
  max-height: calc(100vh - 130px);
  overflow: auto;
  margin-top: 15px;
}

.messages-list .mine .card {
  background-color: #ddd;
}

.messages-list .others .card {
  background-color: #ffe0e0;
}
