.main {
  .chat {
    .main-wrapper-outer {
      max-height: calc(100vh - 80px);
    }

    .form-wrapper-outer {
      height: 70px;

      input {
        width: calc(100% - 125px);
        margin-right: 15px;
      }
    }
  }
}
