.users {
  width: 500px;
  text-align: center;
  margin: 0 auto;
}

.users div {
  display: inline-block;
  width: 200px;
  cursor: pointer;
}

.users div:last-child {
  padding-left: 15px;
}

.last-user {
  width: 200px;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
}
