@import '../../variables.scss';

.header {
  display: none;

  @media screen and (max-width: $breakpoint-small) {
    display: block;
    width: 100vw;
    height: 40px;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    z-index: 100;
  }

  @supports (-webkit-touch-callout: none) {
    display: block;
    position: relative;
  }
}

.sidebar {
  background-color: $primary-color;
  width: 150px;
  padding: 40px;
  position: relative;
  display: none;

  &.with-user {
    display: block;

    @supports (-webkit-touch-callout: none) {
      display: block;
    }
  }

  .main-menu {
    li {
      line-height: 300%;

      a.active {
        font-weight: 500;
        color: $active-color;
      }
    }
  }

  .chat-options {
    color: $note-color;
    margin-top: 30px;

    @supports (-webkit-touch-callout: none) {
      margin-top: 10px;
    }

    li {
      line-height: 160%;
    }
  }

  .bottom {
    position: absolute;
    bottom: 40px;

    li {
      line-height: 300%;

      &.logout {
        color: $secondary-color;
        cursor: pointer;
      }

      h2 {
        color: $secondary-color;
        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: $breakpoint-small) {
    width: 0px;
    padding: 0px;

    @supports (-webkit-touch-callout: none) {
      width: 100vw;
      position: relative;
      box-sizing: border-box;
      height: 0;
    }

    &.visible {
      width: 180px;
      position: absolute;
      top: 0px;
      bottom: 0;
      z-index: 50;

      @supports (-webkit-touch-callout: none) {
        position: relative;
        height: 515px;
        width: 100vw;
      }

      .main-menu {
        padding: 15px;
        padding-top: 40px;

        @supports (-webkit-touch-callout: none) {
          padding-top: 10px;
        }
      }

      .chat-options {
        padding-left: 15px;
        padding-right: 15px;
      }

      hr {
        margin-left: 15px;
        margin-right: 15px;
      }

      .bottom {
        padding: 15px;
        bottom: 0;
      }
    }

    .hamburger {
      padding-left: 15px;
      padding-right: 15px;
      line-height: 40px;
      font-size: 23px;
      color: $secondary-color;
      cursor: pointer;
    }
  }
}
