@import '../../variables.scss';

.header {
  display: none;

  @media screen and (max-width: $breakpoint-small) {
    display: block;
    width: 100vw;
    height: 40px;
    background-color: $primary-color;
    position: fixed;
    top: 0;
    z-index: 100;
  }
}

.sidebar {
  background-color: $primary-color;
  width: 150px;
  padding: 40px;
  position: relative;
  display: none;

  &.with-user {
    display: block;

    @supports (-webkit-touch-callout: none) {
      padding-top: 120px;
      height: calc(100vh - 120px);
    }
  }

  .main-menu {
    li {
      line-height: 300%;

      a.active {
        font-weight: 500;
        color: $active-color;
      }
    }
  }

  .chat-options {
    color: $note-color;
    margin-top: 30px;

    li {
      line-height: 160%;
    }
  }

  .bottom {
    position: absolute;
    bottom: 40px;

    li {
      line-height: 300%;

      &.logout {
        color: $secondary-color;
        cursor: pointer;
      }

      h2 {
        color: $secondary-color;
        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: $breakpoint-small) {
    width: 0px;
    padding: 0px;

    &.visible {
      width: 180px;
      position: absolute;
      top: 0px;
      bottom: 0;
      z-index: 50;

      .main-menu {
        padding: 15px;
        padding-top: 40px;
      }

      .chat-options {
        padding-left: 15px;
        padding-right: 15px;
      }

      hr {
        margin-left: 15px;
        margin-right: 15px;
      }

      .bottom {
        padding: 15px;
        bottom: 0;
      }
    }

    .hamburger {
      padding-left: 15px;
      padding-right: 15px;
      line-height: 40px;
      color: $secondary-color;
      cursor: pointer;
    }
  }
}
