@import '../../variables.scss';

.main {
  .shopping-list {
    .form-wrapper-outer {
      &.shopping-list-form {
        .item {
          width: 57%;
        }

        .link {
          width: 30%;
        }
      }
    }

    a {
      color: $link-color;
    }
  }
}
