@import '../../../variables.scss';

.card {
  width: 100%;
  background-color: $active-color;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
  box-shadow: $box-shadow;

  &.completed {
    .content {
      text-decoration: line-through;
    }
  }

  .user {
    font-weight: 500;
  }

  .remove {
    position: absolute;
    top: 2px;
    right: 8px;
    cursor: pointer;
    line-height: 30px;
    font-size: 30px;
    text-align: center;
    color: $button-border-color;
  }

  .duration,
  .due-date,
  .date-time,
  .genre {
    margin-bottom: 10px;
    font-size: $small-font-size;
    display: inline-block;
    margin-right: 25px;
    color: $note-color;
  }

  .due-date span,
  .genre span {
    color: red;
  }

  .toggle {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
  }

  .link {
    font-size: 11px;
    margin-top: 11px;
    margin-left: 63px;
  }
}
