@import './variables.scss';

* {
  font-size: $font-size;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  color: $secondary-color;
  text-decoration: none;
  font-size: $font-size;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

button {
  background-color: $button-background-color;
  color: $button-font-color;
  border: 0 none;
  padding: 10px;
  font-size: $button-font-size;
  cursor: pointer;
}

hr {
  color: $secondary-color;
}

.container {
  background-color: black;
  display: flex;
  min-height: 100vh;
}

.main {
  background-color: $background-color;
  flex: 1;
  position: relative;

  .form-wrapper-outer {
    width: 100%;
    background-color: $active-color;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    padding-top: 14px;

    input {
      height: 40px;
      border: 1px solid $button-border-color;
      padding-left: 15px;
      box-sizing: border-box;
    }

    button {
      width: 100px;
    }
  }

  .form-wrapper-inner {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
  }

  .main-wrapper-outer {
    max-height: calc(100vh - 130px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .main-wrapper-inner {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 40px;

    h1 {
      color: $primary-color;
    }

    .messages-list {
      margin-top: 30px;
      overflow: hidden;

      .mine .card {
        background-color: #ddd;
      }

      .others .card {
        background-color: #ffe0e0;
      }
    }
  }
}
