@import './variables.scss';

* {
  font-size: $font-size;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  color: $secondary-color;
  text-decoration: none;
  font-size: $font-size;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

button {
  background-color: $button-background-color;
  color: $button-font-color;
  border: 0 none;
  padding: 10px;
  font-size: $button-font-size;
  cursor: pointer;
}

hr {
  color: $secondary-color;
}

.container {
  background-color: black;
  display: flex;
  min-height: 100vh;
}

.main {
  background-color: #aaa;
  flex: 1;
  padding: 15px;
  position: relative;
}

@media screen and (max-width: 540px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
