body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

.container {
  background-color: black;
  display: flex;
  min-height: 100vh;
}

.sidebar {
  background-color: #ccc;
  width: 200px;
  padding: 15px;
}

.main {
  background-color: #aaa;
  flex: 1;
  padding: 15px;
  position: relative;
}

.card {
  width: 100%;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 15px;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
}

.card .remove {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
  line-height: 15px;
  text-align: center;
}

.card .date-time {
  height: 22px;
  font-size: 11px;
  color: #888;
}

@media screen and (max-width: 540px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
