$primary-color: #444444;
$secondary-color: #D3D3D3;
$active-color: #FFFFFF;
$note-color: #909090;
$background-color: #E5E5E5;
$link-color: #2D9CDB;

$button-background-color: #27AE60;
$button-font-color: #FFFFFF;
$button-font-size: 16px;
$button-border-color: #999999;

$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

$h1-font-size: 24px;
$h2-font-size: 18px;
$h3-font-size: 15px;
$font-size: 14px;
$small-font-size: 12px;
