.main {
  .todos {
    .form-wrapper-outer {
      &.todos-form {
        .todo {
          width: 45%;
        }

        .due-date {
          width: 20%;
        }

        .duration {
          width: 20%;
        }
      }
    }
  }
}
